:root {
  --sidebar-width: 250px;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.mainWrapper {
  margin-left: 0px;
  width: calc(100vw - var(--sidebar-width));
  min-height: 100vh;
  background-color: #f7f9fc;
  overflow-y: auto;
}

.pageInner {
  padding: 20px;
}

