.sidebar {
  width: 18vw;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 24px;
  max-height: 100vh;
  min-height: 100vh;
  border-right: 1px solid #f0f0f0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #5d5fef; /* Brand color from image */
  margin-bottom: 2.5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  margin-bottom: 10px;
}

.navItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: none;
  background: transparent;
  color: #8a8a8a;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: left;
}

.navItem:hover {
  color: #5d5fef;
}

.navItem.active {
  background-color:#1e90ff;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(93, 95, 239, 0.2);
}

.navItem.active .icon svg {
  stroke: #ffffff;
}

.navItem:focus {
  outline: none;
}

.icon {
  width: max(14px, 2.5vw);
}

.logoText {
  font-size: max(16px, 1.5vw);
  text-align: center;
}

.label {
  flex: 1;
}

.logoutButton {
  width: 100%;
  padding: 12px 16px;
  color: #ff4d4f;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
}

@media (max-width: 800px) {
    .label {
        display: none !important;
    }
    .icon {
      display: none;
    }
    .logo {
      margin-left: 5px;
    }
    .logoText {
      font-size: max(16px, 1.5vw);
      text-align: center;
    }
    .navList {
      margin-left: auto;
      margin-right: auto;
    }
    .logoutButton {
      margin-left: auto;
      margin-right: auto;
    }
}