/* src/screens/notifications/notifications.css */
.notification-page-mock-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.mock-dropdown-placement {
    margin-top: 20px;
}